@model CategoryModel
<h1>Create a new Category</h1>
<form asp-action="Create" asp-controller="Category" method="post">
    <div class="container">
        <div class="row">
            <div class="col mb-5">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col mb-5">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        </div>
        <input type="submit" class="btn-primary btn" value="Create Category" />
        <a asp-action="Index" asp-controller="Category" class="bg-success btn">Back to Category Page</a>

    </div>
</form>