@model IEnumerable<CategoryModel>

<h1>CAtegory List</h1>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>

        @{

            foreach (var m in Model)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.Name</td>

                    <td>@m.Description</td>

                </tr>
            }
        }


    </tbody>
</table>


<a asp-action="Index" asp-controller="Category" class="bg-success btn">Back to Category Page</a>