@model OrderRequestModel

@if (ViewBag.IsEdit == true)
{

    <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Order Updated Successfully. Go to <a asp-action="Index" asp-controller="Order">Index</a> </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}


<form asp-controller="Order" asp-actin="Edit" method="post">

    <h1 class="display-6">Edit Order</h1>
    <hr />

    <div class="container">
        <div class="row">
            <div class="mb-4">
                <label asp-for="ProductId"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.Product">
                    <option value="">Select a Product</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="mb-4">
                <label asp-for="UnitPrice"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
        </div>
        
        <div class="row">
            <div class="mb-4">
                <label asp-for="quantity"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="mb-4">
                <label asp-for="Discount"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
        </div>
        

        
        <input type="submit" value="Edit Order" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Order" class="bg-success btn">Back to Order Page</a>
    </div>
</form>