@model ProductRequestModel

    <form asp-controller="Product" asp-action="Create" method="post">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mb-4">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-4">
                        <label asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category">
                            <option value="">Select a Category</option>


                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>



                <div class="col">
                    <div class="mb-4">
                        <label asp-for="Discontinued"></label>
                        <select asp-for="Discontinued" class="form-control">
                            <option value="">Select a Discontinued</option>
                            <option [ngValue]="1">True</option>
                            <option [ngValue]="0">False</option>
                        </select>

                        <span asp-validation-for="Discontinued" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="mb-4">
                        <label asp-for="QuantityPerUnit"></label>
                        <input asp-for="QuantityPerUnit" class="form-control" />
                        <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="submit" value="Add Product" class="btn btn-primary" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" asp-controller="Product" class="bg-success btn">Back to Product Page</a>
                    </div>
                </div>

            </div>
        </div>
    </form>