@model ProductRequestModel

@if (ViewBag.IsEdit == true)
{

    <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Product Updated Successfully. Go to <a asp-action="Index" asp-controller="Product">Index</a> </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}


<form asp-controller="Product" asp-actin="Edit" method="post">
    <h1 class="display-6">Edit Product</h1>
    <hr />

    <div class="container">
        <div class="row">
            <div class="mb-4">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-4">
                <label asp-for="CategoryId"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-4">
                <label asp-for="Discontinued"></label>
                
                <select asp-for="Discontinued" class="form-control">
                    <option value="">Select a Discontinued</option>
                    <option [ngValue]="1">True</option>
                    <option [ngValue]="0">False</option>
                </select>
                <span asp-validation-for="Discontinued" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-4">
                <label asp-for="QuantityPerUnit"></label>
                <input asp-for="QuantityPerUnit" class="form-control" />
                <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-4">
                <label asp-for="UnitPrice"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-4">
                <label asp-for="UnitsInStock"></label>
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-4">
                <label asp-for="UnitsOnOrder"></label>
                <input asp-for="UnitsOnOrder" class="form-control" />
                <span asp-validation-for="UnitsOnOrder" class="text-danger"></span>
            </div>
        </div>

        
            <input type="submit" value="Edit Product" class="btn btn-primary" />
            <a asp-action="Index" asp-controller="Product" class="bg-success btn">Back to Product Page</a>
       
</form>