@model IEnumerable<RegionModel>
<h1>Region Index</h1>
<a asp-action="Create" asp-controller="Region" class="btn bg-success">Add Region</a>
<a asp-action="List" asp-controller="Region" class="btn bg-primary">Region List</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Option</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>
                    <span>
                        @*<a href="/Region/edit/@m.Id"></a>*@
                        <a asp-controller="Region" asp-action="Edit" asp-route-id="@m.Id">Edit</a>
                    </span>
                </td>
                <td>
                    <span>
                        @*<a href="/Region/delete/@m.Id"></a>*@
                        <a asp-controller="Region" asp-action="Delete" asp-route-id="@m.Id">Delete</a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>