@model IEnumerable<RegionModel>
<a asp-action="Create" asp-controller="Region" class="btn bg-success" >Add Region</a>
<table class="table table-striped">
  <thead>
      <tr>
          <th>Id</th>
          <th>Name</th>
      </tr>
  </thead>
  <tbody>
      @foreach(var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
            </tr>
        }
    </tbody>
</table>