@model IEnumerable<RegionModel>

<h1>Employee List</h1>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>

        @{

            foreach (var m in Model)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.Name</td>
             

                 
                </tr>
            }
        }


    </tbody>
</table>


<a asp-action="Index" asp-controller="Region" class="bg-success btn">Back to Region Page</a>