<footer class="border-top footer text-muted" style="position:absolute; left:0px; right:0px;bottom:0px;">
    <div class="container">
        &copy; 2022 - Antra.CRMApp.WebMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>