@model CustomerRequestModel

<form asp-controller="Customer" asp-action="Create" method="post">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-4">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="mb-4">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="mb-4">
                    <label asp-for="RegionId"></label>
                    <select asp-for="RegionId" class="form-control" asp-items="ViewBag.Regions">
                        <option value="">Select a Region</option>
                    </select>
                    <span asp-validation-for="RegionId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-4">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="mb-4">
                    <label asp-for="Country"></label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="mb-4">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-6">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-6">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <p></p>

        <div class="row">
            <div class="col">
                <input type="submit" value="Add Customer" class="btn btn-primary" />
            </div>
            <div class="col">
                <a asp-action="Index" asp-controller="Customer" class="bg-success btn">Back to Customer Page</a>
            </div>
        </div>

    </div>

    

</form>