@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EmployeeRequestModel

   @if (ViewBag.IsEdit==true)
{
    
    
        <div class="container">
            <di class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Employee Updated Successfully. Go to <a asp-action="Index" asp-controller="Employee" >Index</a> </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
}


<form asp-controller="Employee" asp-action="Edit" method="post" >
    <h1 class="display-6">Edit Employee</h1>
    <hr/>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-4">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-4">
                <label asp-for="TitleOfCourtesy"></label>
                <input asp-for="TitleOfCourtesy" class="form-control"/>
                <span asp-validation-for="TitleOfCourtesy" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="HireDate"></label>
                <input asp-for="HireDate" class="form-control"/>
                <span asp-validation-for="HireDate"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-4">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address"></span>
            </div>
        </div>
        <div class="col">
             <div class="mb-4">
                <label asp-for="RegionId"></label>
                <select asp-for="RegionId" class="form-control" asp-items="ViewBag.Regions" >
                <option value="">Select a region</option>   
                </select>
                <span asp-validation-for="RegionId"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control"/>
                <span asp-validation-for="City"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"><div class="mb-4">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" class="form-control"/>
                <span asp-validation-for="PostalCode"></span>
            </div></div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control"/>
                <span asp-validation-for="Country"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone"></span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-4">
                <label asp-for="ReportsTo"></label>
                <input asp-for="ReportsTo" class="form-control"/>
                <span asp-validation-for="ReportsTo"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-4">
                <label asp-for="PhotoPath"></label>
                <input asp-for="PhotoPath" class="form-control"/>
                <span asp-validation-for="PhotoPath"></span>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <input type="submit" value="Edit Employee" class="btn btn-primary" />
        </div>
    </div>
</div>
</form>